a:hover {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

header {
    background: url(../image/about-image/header-bg.jpg);
    background-size: cover;
    background-position: center;
    .top-header {
        background: var(--main-color, #1A2B48);
        padding: 15px 50px;
        .header-top-left {
            i {
                padding-left: 18px;
                color: #dddddd;
            }
            a {
                padding-left: 45px;
                color: #ffffff;
                font-size: 12px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
            }
        }
        .header-top-right {
            a {
                padding-right: 20px;
                font-size: 12px;
                color: #ffffff;
                position: relative;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
            }
            i {
                position: absolute;
                color: #dddddd;
                right: 58px;
                top: 23px;
            }
        }
    }
    /*Menu*/
    .menu {
        position: relative;
        .nav-bar {
            .logo {
                margin: 25px 25px 25px 55px;
            }
            ul {
                li {
                    padding: 30px 15px;
                    &:hover {
                        a {
                            color: blue;
                        }
                        &.LiDropped {
                            .LiDropDown {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0);
                            }
                        }
                    }
                    &.active {
                        a {
                            color: blue;
                        }
                    }
                    a {
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 600;
                        i {
                            font-size: .9em;
                        }
                    }
                    &.LiDropped {
                        position: relative;
                        ul {
                            &.LiDropDown {
                                position: absolute;
                                left: 0;
                                top: 90%;
                                width: 180px;
                                opacity: 0;
                                visibility: hidden;
                                transform: translateY(10px);
                                transition: .2s ease-in-out;
                                z-index: 5;
                                li {
                                    padding: 10px;
                                    border-bottom: 1px solid #f0f0f0;
                                    background: #fff;
                                    a {
                                        color: black;
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-bar {
            margin-right: 35px;
            ul {
                li {
                    padding: 35px 15px;
                    i {
                        color: #ffffff;
                    }
                    a {
                        background: var(--orange-color, #FA5636);
                        border-radius: 3px;
                        padding: 10px 25px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    /*Menu end*/
    /*mobile menu*/
    .mob-menu {
        .left-menu {
            padding: 27px 15px;
        }
        .right-menu {
            ul {
                li {
                    padding: 35px 15px;
                    i {
                        color: #ffffff;
                    }
                    a {
                        background: var(--orange-color, #FA5636);
                        border-radius: 3px;
                        padding: 10px 25px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    /*mobile menu end*/
    /*header-text*/
    .header-text {
        h1 {
            font-weight: 600;
            font-size: 50px;
            font-family: Poppins sans-serif;
            color: #FFF;
        }
        padding: 60px 90px;
    }
    /*header-text end*/
}

#link {
    ul {
        li {
            margin: 25px 20px 0px 0px;
            a {
                &.active {
                    color: #5e6d77;
                }
            }
        }
    }
}

#our-story {
    .our-items {
        margin-top: 50px;
        .our-text {
            h3 {
                margin-top: 20px;
                font-family: Poppins sans-serif;
                font-size: 34px;
                color: #5191fa;
            }
            p {
                font-family: Poppins sans-serif;
                font-size: 20px;
                color: #768092;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }
}

#rotate {
    .box {
        border: 4px solid #5191fa;
        padding: 40px 0px;
        transition: .3s ease-in-out;
        .front {
            font-family: Poppins sans-serif;
            text-align: center;
            h4 {
                font-size: 44px;
                font-weight: 700;
            }
            p {
                font-size: 20px;
            }
        }
        .end {
            display: none;
        }
        // &:hover {
        //     .front {
        //         display: none;
        //     }
        //     .end {
        //         display: block;
        //     }
        //     .box {
        //         transform: rotateX(180deg);
        //     }
        // }
    }
}

#message {
    .header {
        margin-bottom: 20px;
        text-align: center;
        p {
            font-size: 28px;
            font-family: Poppins sans-serif;
        }
    }
    .profil {
        text-align: center;
        img {
            width: 100px;
            margin-bottom: 10px;
        }
    }
    .name {
        p {
            color: #1A2B48;
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
        }
    }
    .job {
        p {
            color: #5e6d77;
            text-align: center;
            font-size: 20px;
        }
    }
}

// #about-slider {
//     .slide-img {
//         vertical-align: middle;
//         overflow: hidden;
//     }
// }
#team {
    padding-bottom: 100px;
    .top-text {
        margin: 40px 0px;
        h3 {
            font-size: 40px;
            font-family: Poppins sans-serif;
            font-weight: 600;
            color: #1A2B48;
            text-align: center;
        }
    }
    .items {
        margin-top: 50px;
        text-align: center;
        .team-text-1 {
            p {
                font-size: 20px;
                color: #1A2B48;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
        team-text-2 {
            p {
                font-size: 18px;
                color: #768092;
                font-weight: 300;
                font-family: Poppins sans-serif;
            }
        }
    }
}

#updates {
    background: #dddddd;
    padding: 60px 0 40px;
    .media {
        .media-logo {
            padding-right: 30px;
        }
        .media-text {
            h4 {
                margin-bottom: 4px;
                color: #1A2B48;
                font-size: 30px;
                font-family: Poppins sans-serif;
            }
            p {
                margin-bottom: 10px;
                color: #5d6d77;
                font-size: 22px;
                font-family: Poppins sans-serif;
                font-weight: 400;
            }
        }
        input {
            padding: 30px 20px;
        }
        button {
            color: #5191Fa;
            color: #fff;
            font-weight: 700;
        }
    }
}

#footer {
    margin-top: 60px;
    .top-text {
        h4 {
            margin-top: 10px;
            font-size: 18px;
            color: #1A2B48;
        }
    }
    .mid-text {
        p {
            margin-bottom: 10px;
            font-size: 17px;
            color: #5d6d77;
            font-weight: 500;
            font-family: Poppins sans-serif;
        }
        h4 {
            margin-top: 10px;
            font-size: 28px;
            font-weight: 700;
            font-family: Poppins sans-serif;
        }
        i {
            color: #5d6d77;
            padding: 0px 10px;
        }
    }
    .body-text {
        ul {
            margin-bottom: 10px;
            li {
                margin-bottom: 25px;
                a {
                    margin-bottom: 25px;
                    font-size: 19px;
                    color: #1A2B48;
                    font-weight: 550;
                    font-family: Poppins sans-serif;
                }
            }
        }
        p {
            margin-bottom: 5px;
            color: #5d6d77;
            font-size: 22px;
            font-family: Poppins sans-serif;
            font-weight: 400;
        }
        select {
            font-size: 18px;
            font-family: Poppins sans-serif;
        }
    }
    .end {
        padding: 10px 15px 30px;
        h5 {
            color: #1A2B48;
            font-size: 18px;
        }
        a {
            color: #5191Fa;
            font-size: 19px;
            margin-top: -4px;
        }
    }
}

@media(max-width: 769px) {
    header {
        .top-header {
            .header-top-left {
                a {
                    display: none;
                }
            }
            .header-top-right {
                i {
                    display: none;
                }
                span {
                    display: none;
                }
            }
        }
        .mob-menu {
            .right-menu {
                ul {
                    .search-ico {
                        display: none;
                    }
                }
            }
        }
        .header-text {
            h1 {
                font-size: 35px;
            }
        }
    }
}